@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Store</h1>
    <img src="/images/nature1.jpg" width="400" height="400" alt="Image of a Nature">
</div>