@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <p> Chaintnya Dange</p>
    <p>Chandrapur</p>
    <p>234234</p>
    <p>Email:chaindtyadange@123</p>
    <p>ContactNo:973847484</p>
    
</div>